

header{
    background-color: #4C5B84;
    display: flex;
    justify-content: space-between;
    
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

.logo{
    width: 60px;
}

a{
    display: inline-flex;
    align-items: center;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    text-decoration: none;

    margin-right: 30px;
    line-height: 30px;
}
a::before{
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
a:hover{
    color: #F25A70;
}
.button{
    display: inline-block;
    background-color: #F25A70;
    padding: 17px 20px;
    box-shadow: 5px 5px 0 #000;
    margin-right: 0;
}
.button:hover{
    color: #4c5b84;
}