h1, h2{
    color: #fff;
    font-family: "Press Start 2P", monospace;
}

a{
    font-family: 'Fira Code', monospace;
    display: inline-flex;
    align-items: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

    margin-right: 30px;
    line-height: 30px;
    
    transition: transform 200ms linear;
}
a:hover{
    color: #F25A70;
    transform: scale(1.08);
    cursor: pointer;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #494949;
    color: #fff;
}